var-checkbox-background = url("../../test/fixtures/img/light-sprites2x.png")
var-font--large = 1.3rem
var-font-weight = 200
var-line-height = 21px
var-letter-spacing = 1px
var-vertical-align = top
var-border-radius = 5px

var-chbox-offset--checked = 0

var-chbox-bgsize = 20px
var-chbox-offset = -19px
var-chbox-width = var-chbox-bgsize

var-chbox-height = 18px
var-chbox-line-height = var-chbox-height

var-chbox-margin = 5px