@import input-mixin

/*
 Checkbox
 --------
 
Base styles for checkboxes. The `<label>` needs to be placed after the `<input>` element in the HTML. If you are using `.topcoat-checkbox-label--right`, make sure to set the width, so all the labels are the same width and the controls line up vertically.


 :focus - Focus state

 .is-focused - Simulates an focus state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

 .topcoat-checkbox

 .topcoat-checkbox-label--left - use if you want the control to appear before (to the left of) the label

 .topcoat-checkbox-label--right - use if you want the control to appear after (to the right of) the label

    
    <input type="checkbox" id="example-checkbox-checked" class="topcoat-checkbox" checked="checked">
    <label for="example-checkbox-checked" class="topcoat-checkbox-label topcoat-checkbox-label--left">Extremely Long Label</label>
    
    <input type="checkbox" id="example-checkbox-unchecked" class="topcoat-checkbox">
    <label for="example-checkbox-unchecked" class="topcoat-checkbox-label topcoat-checkbox-label--left">Extremely Long Label</label>
    
    <input type="checkbox" id="example-checkbox-disabled" class="topcoat-checkbox is-disabled" disabled>
    <label for="example-checkbox-disabled" class="topcoat-checkbox-label topcoat-checkbox-label--left">Extremely Long Label</label>
    
*/

input[type="checkbox"]
    display: none

.topcoat-checkbox-label--left:before,
.topcoat-checkbox-label--right:after
    background-image: var-checkbox-unchecked

input[type="checkbox"]:checked + .topcoat-checkbox-label--left:before,
input[type="checkbox"]:checked + .topcoat-checkbox-label--right:after
    background-image: var-checkbox-checked

input[type="checkbox"]:disabled + label
    opacity: 0.3
    cursor: default
    pointer-events: none

.topcoat-checkbox-label--left:before,
.topcoat-checkbox-label--right:after
    content: ""
    position: relative
    top: 0px
    width: 15px
    height: 15px
    background-position: left 0px
    background-repeat: no-repeat
    background-size: 15px
    cursor: pointer
    user-select: none
    -webkit-touch-callout: none
    -webkit-user-select: none

.topcoat-checkbox-label--left:before

.topcoat-checkbox-label--right:after
    
.topcoat-checkbox-label--left,
.topcoat-checkbox-label--right
    input-base()
    font-size: var-font-size;
    line-height: var-line-height;
    letter-spacing: var-letter-spacing;
    color: var-color;
    vertical-align: var-vertical-align;

.topcoat-not-checkbox
    padding: var-padding;
    text-shadow: var-text-shadow;
    background-color: var-background-color;
    box-shadow: var-box-shadow;
    border: var-border;
    border-radius: var-border-radius;
