input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:disabled + label {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.checkbox__label,
.checkbox__label:before,
.checkbox__label:after,
.topcoat-checkbox__label--left,
.topcoat-checkbox__label--right,
.topcoat-checkbox__label--left:before,
.topcoat-checkbox__label--right:after {
  box-sizing: border-box;
  background-clip: padding-box;
  cursor: default;
  user-select: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
  outline: none;
}
.checkbox__label:before,
.checkbox__label:after,
.topcoat-checkbox__label--left:before,
.topcoat-checkbox__label--right:after {
  content: "";
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  background: #dfe2e2;
  color: #000;
  font: 16px "Source Sans", helvetica, arial, sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}
/**
*
* Copyright 2012 Adobe Systems Inc.;
*
* Licensed under the Apache License, Version 2.0 (the "License");
* you may not use this file except in compliance with the License.
* You may obtain a copy of the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*
*/
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:disabled + label {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.checkbox__label,
.checkbox__label:before,
.checkbox__label:after,
.topcoat-checkbox__label--left,
.topcoat-checkbox__label--right,
.topcoat-checkbox__label--left:before,
.topcoat-checkbox__label--right:after {
  box-sizing: border-box;
  background-clip: padding-box;
  cursor: default;
  user-select: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
  outline: none;
}
.checkbox__label:before,
.checkbox__label:after,
.topcoat-checkbox__label--left:before,
.topcoat-checkbox__label--right:after {
  content: "";
  cursor: pointer;
}
/*
 Checkbox
 --------

  Default  styles for Topcoat checkboxes.
  The `<label>` needs to be placed after the `<input>` element in the HTML.
  If you are using `.topcoat-checkbox-label--right`, make sure to set the width, so all the labels are the same width and the controls line up vertically.

  :focus - Focus state

  .is-focused - Simulates an focus state on mobile devices

  :disabled - Disabled state

  .is-disabled - Simulates a disabled state on mobile devices

  .topcoat-checkbox
    .topcoat-checkbox__label
    .topcoat-checkbox__label--left Position the control to the left of the label
    .topcoat-checkbox__label--right Position the control to the right of the label


    <input type="checkbox" id="example-checkbox-checked" class="topcoat-checkbox" checked="checked">
    <label for="example-checkbox-checked" class="topcoat-checkbox-label topcoat-checkbox-label--left">Extremely Long Label</label>

    <input type="checkbox" id="example-checkbox-unchecked" class="topcoat-checkbox">
    <label for="example-checkbox-unchecked" class="topcoat-checkbox-label topcoat-checkbox-label--left">Extremely Long Label</label>

    <input type="checkbox" id="example-checkbox-disabled" class="topcoat-checkbox is-disabled" disabled>
    <label for="example-checkbox-disabled" class="topcoat-checkbox-label topcoat-checkbox-label--left">Extremely Long Label</label>


*/
input[type="checkbox"]:checked + .topcoat-checkbox__label--left:before,
input[type="checkbox"]:checked + .topcoat-checkbox__label--right:after {
  background-position: left -2px;
}
.topcoat-checkbox__label--left,
.topcoat-checkbox__label--right {
  padding: 0 1.25rem;
  font-weight: 200;
  line-height: 30px;
}
.topcoat-checkbox__label--left:before,
.topcoat-checkbox__label--right:after {
  width: 37px;
  height: 30px;
  background-image: url("../img/light-sprites2x.png");
  background-repeat: no-repeat;
  background-size: 37px;
  background-position: left -37px;
}
.topcoat-checkbox__label--left:before {
  margin-right: 1rem;
}
.topcoat-checkbox__label--right:after {
  margin-right: 1rem;
}
